<%- include('partials/header.ejs')%>
<div class="cotainer-fluid body">
    <div class="container">
        <h2 class="ps-4 py-3">Pagina de Pedidos</h2>

<div class="card">
    <div class="card-header">
        <h3>Lista de compras</h3>
    </div>
    <div class="card-body">
<table class="table table-sm w-100 table-hover table-bordered">
    <thead>
    <tr>
        <th class="col-md-2">Nome do Veiculo</th>
        <th class="col-md-2">Preço</th>
        <th class="col-md-2">Categoria</th>
    </tr>
</thead>
    <%listaCompras.forEach((listaCompras)=>{%>
        <tr>
            <th>
                <%= listaCompras.nome %>
            </th>
            <th>
                <%= listaCompras.preco %>
            </th>
            <th>
                <%= listaCompras.categoria %>
            </th>
        </tr>
            <%})%>
    </table>
    </div>
</div>
    <br>
   <div class="card">
    <div class="card-header">
        <h3 class="ps-4">Pedidos de Venda</h3>
    </div>
    <div class="card-body">
        <table class="table table-sm w-100 table-hover table-bordered">
            <thead>
            <tr>
                <th>Nome do Veiculo</th>
                <th>Preço</th>
                <th>Categoria</th>
            </tr>
        </thead>
            <%listaVendas.forEach((listaVendas)=>{%>
                <tr>
                    <th>
                        <%= listaVendas.nome %>
                    </th>
                    <th>
                        <%= listaVendas.preco %>
                    </th>
                    <th>
                        <%= listaVendas.categoria %>
                    </th>
                </tr>
                    <%})%>
            </table>
    </div>
   </div>
    </div>
</div>
<%- include('partials/footer.ejs')%>
